/* This imports the font from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

body {
  background: #131F25;
  color: #fff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

main {
  max-width: 500px;
  margin: 30px auto;
}