/* This imports the font from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

body {
  background: #131F25;
  color: #fff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

main {
  max-width: 500px;
  margin: 30px auto;
}

.progress {
  height: 16px;
  width: 100%;
  background: #38454F;
  border-radius: 8px;
}

.progress-bar {
  height: 16px;
  width: 50%;
  background: #92D333;
  border-radius: 8px;
}