/* This imports the font from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

body {
  background: #131F25;
  color: #fff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

main {
  max-width: 500px;
  margin: 30px auto;
  padding: 12px;
}

.progress {
  height: 16px;
  width: 100%;
  background: #38454F;
  border-radius: 8px;
}

.progress-bar {
  height: 16px;
  width: 50%;
  background: #92D333;
  border-radius: 8px;
  transition: .2s ease-in;
}

.ContinueButton {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  max-width: 500px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  position: fixed;
  bottom: 30px;
  background: #92D333;
}

.ContinueButton-disabled {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  max-width: 500px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  position: fixed;
  bottom: 30px;
  background: #38454F;
  color: #52666D;
}

.ContinueButton-disabled:hover {
  cursor: default;
}

.AnswerButton {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  padding: 12px;
  border-radius: 12px;
  border: 3px solid #52666D;
  background: none;
  color: #fff;
  width: 100%;
  margin-bottom: 16px;
}

.AnswerButton-selected {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  padding: 12px;
  border-radius: 12px;
  border: 3px solid #6BBDF3;
  background: #232E35;
  color: #6BBDF3;
  width: 100%;
  margin-bottom: 16px;
}

button:hover {
  cursor: pointer;
}

.celebration {
  max-width: 100%;
  margin: 20px auto;
}

.Feedback {
  width: 100%;
  background: #232E35;
  position: fixed;
  bottom: -180px;
  left: 0;
  z-index: 20;
}

.Feedback-content {
  margin: 36px auto;
  padding: 0 16px;
  max-width: 500px;
  width: 100%;
}

.Feedback-title {
  color: #92D333;
}

.Feedback-title-incorrect {
  color: #ED5756;
}

.FeedbackButton {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #92D333;
}

.FeedbackButton-incorrect {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #ED5756;
}
@keyframes feedback-entrance {
  from {bottom: -180px;}
  to {bottom: 0;}
}

.Feedback-entrance {
  animation-name: feedback-entrance;
  animation-duration: .15s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes feedback-exit {
  from {bottom: 0;}
  to {bottom: -180px;}
}

.Feedback-exit {
  animation-name: feedback-exit;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}